.env
**/.env
**/.env.*
**/node_modules
**/build
**/dist
**/.git
**/.github
**/.vscode
**/__pycache__
**/.idea
**/.scannerwork
**/sonar_logs
**/sonar_data
**/sonar_cache

docker-compose.yml
Dockerfile*
README.md
