services:
  frontend:
    build:
      context: ${FRONTEND_CONTEXT}
      dockerfile: ${FRONTEND_DOCKERFILE}
    container_name: ${FRONTEND_CONTAINER_NAME}
    ports:
      - "${FRONTEND_PORT}:4200"
    volumes:
      - ./frontend:/app
      - /app/node_modules
    command: npm run start -- --host 0.0.0.0
    environment:
      - CHOKIDAR_USEPOLLING=true
      - WATCHPACK_POLLING=true
      - GRAPHQL_ENDPOINT=${GRAPHQL_ENDPOINT}
      - AZURE_URL=${AZURE_URL}
      - GRAPHQL_ENDPOINT=${GRAPHQL_ENDPOINT}
      - SECURITY_JWT_EXPMINUTES=${SECURITY_JWT_EXPMINUTES}
      - SECURITY_JWT_REFRESH_DAYS=${SECURITY_JWT_REFRESH_DAYS}
    depends_on:
      - backend
    restart: unless-stopped

  backend:
    build:
      context: ${BACKEND_CONTEXT}
      dockerfile: ${BACKEND_DOCKERFILE}
    container_name: ${BACKEND_CONTAINER_NAME}
    ports:
      - "${BACKEND_PORT}:8080"
    volumes:
      - ./backend:/app
      - gradle_cache:/home/gradle/.gradle
    command: gradle bootRun --continuous --no-daemon
    environment:
      SPRING_PROFILES_ACTIVE: ${SPRING_PROFILES_ACTIVE:-dev}
      DB_CONTAINER_NAME: ${DB_CONTAINER_NAME:-mariadb}
      DB_PORT_CONTAINER: ${DB_PORT_CONTAINER:-3306}
      DB_NAME: ${DB_NAME:-time_manager}
      DB_ROOT_PASSWORD: ${DB_ROOT_PASSWORD:-root}
      SECURITY_JWT_SECRET: ${SECURITY_JWT_SECRET}
      SECURITY_JWT_ISSUER: ${SECURITY_JWT_ISSUER}
      SECURITY_JWT_EXPMINUTES: ${SECURITY_JWT_EXPMINUTES}
      SECURITY_JWT_REFRESH_SECRET: ${SECURITY_JWT_REFRESH_SECRET}
      SECURITY_JWT_REFRESH_DAYS: ${SECURITY_JWT_REFRESH_DAYS}
      AZURE_CLIENT_SECRET: ${AZURE_CLIENT_SECRET}
      AZURE_TENANT_ID: ${AZURE_TENANT_ID}
      AZURE_CLIENT_ID: ${AZURE_CLIENT_ID}
      FRONTEND_URL: ${FRONTEND_URL}
    depends_on:
      - mariadb
    restart: always

  mariadb:
    image: ${DB_IMAGE:-mariadb:11}
    container_name: ${DB_CONTAINER_NAME:-mariadb}
    restart: always
    environment:
      MARIADB_ROOT_PASSWORD: ${DB_ROOT_PASSWORD:-root}
      MARIADB_DATABASE: ${DB_NAME:-time_manager}
      MARIADB_USER: ${DB_USER:-app_user}
      MARIADB_PASSWORD: ${DB_PASSWORD:-app_pass}
    ports:
      - "${DB_PORT_HOST:-3307}:${DB_PORT_CONTAINER:-3306}"
    volumes:
      - mariadb_data:/var/lib/mysql
      - ./backend/db:/docker-entrypoint-initdb.d

  reverse-proxy:
    build: ./reverse-proxy
    container_name: reverse-proxy
    depends_on:
      - frontend
      - backend
    ports:
      - "8030:80"
    environment:
      FRONTEND_CONTAINER_NAME: ${FRONTEND_CONTAINER_NAME}
      FRONTEND_PORT: ${FRONTEND_PORT}
      BACKEND_CONTAINER_NAME: ${BACKEND_CONTAINER_NAME}
      BACKEND_PORT: ${BACKEND_PORT}
    restart: always

  sonarqube:
    image: sonarqube:latest
    container_name: sonarqube
    ports:
      - "9000:9000"
    environment:
      - SONAR_ES_BOOTSTRAP_CHECKS_DISABLE=true
    volumes:
      - ./sonarqube/sonar_data:/opt/sonarqube/data
      - ./sonarqube/sonar_logs:/opt/sonarqube/logs

  sonar-scan-backend:
    image: sonarsource/sonar-scanner-cli:latest
    container_name: sonar-scan-backend
    environment:
      - SONAR_HOST_URL=${SONAR_HOST_URL}
      - SONAR_TOKEN=${SONAR_TOKEN}
    volumes:
      - ./backend:/usr/src/app/backend:ro
      - ./sonarqube/backend/sonar-project.properties:/usr/src/app/sonar-project.properties
      - ./backend/build:/usr/src/app/backend/build
    working_dir: /usr/src/app
    command: >
      sonar-scanner
        -Dsonar.projectBaseDir=/usr/src/app
# Setup when units test are ready on frontend
#  sonar-scan-frontend:
#    build:
#      context: .
#      dockerfile: sonarqube/frontend/Dockerfile.sonar
#    environment:
#      - SONAR_HOST_URL=${SONAR_HOST_URL}
#      - SONAR_TOKEN=${SONAR_TOKEN}
#    volumes:
#      - ./sonarqube/frontend/sonar-project.properties:/usr/src/app/sonar-project.properties
#    command: >
#      -Dsonar.host.url=${SONAR_HOST_URL}
#      -Dsonar.token=${SONAR_TOKEN}


volumes:
  mariadb_data:
  gradle_cache:
