.kpi-bar-chart {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;

  h3 {
    margin: 0 0 1rem 0;
    font-size: 1rem;
    font-weight: 600;
    color: var(--c-text);
    text-align: center;
  }

  .chart-container {
    flex: 1;
    position: relative;
    min-height: 300px;
  }
}
