<div class="employee-dashboard">
  <main class="main-content">
    <div class="header">
      <h2>Employee Dashboard</h2>
    </div>

    <header class="content-grid profile-zone">
      <div class="profile-card">
        <img src="img/userProfil.png" alt="Profil" class="profile-img" />
        <div class="profile-info">
          <h3>{{ user.name }} </h3>
          <span class="email">{{ user.email }}</span>
          <p>{{ user.poste || 'No information' }}</p>
        </div>
      </div>

      <div class="work-status">
        <p class="status-text">
          Time worked today :
          <span>{{ todayHoursMinutes.hours }}h {{ todayHoursMinutes.minutes }}m</span>
        </p>
        <p class="status-subtext" *ngIf="isWorking">Session en cours depuis <span class="timer-text">{{ formattedTimer }}</span></p>
        <button
          class="btn btn-primary"
          (click)="toggleWorkStatus()"
          [disabled]="actionPending">
          <mat-icon>{{ isWorking ? 'pause_circle' : 'play_circle' }}</mat-icon>
          {{ statusLabel === 'Demarrer' ? 'Start' : 'Pause' }}
        </button>
      </div>
    </header>

    <section class="content-grid metrics-zone">
      <div class="card large">
        <h3>Global view</h3>
        <mat-card class="chart-card">
          <div class="chart-container" *ngIf="!loadingStats; else loading">
            <canvas
              baseChart
              [data]="pieChartData"
              [options]="chartOptions"
              chartType="pie"></canvas>
          </div>
          <ng-template #loading>
            <div class="loading">Loading your statistic...</div>
          </ng-template>
        </mat-card>
      </div>

      <div class="card small manager-card">
        <h3>Quick Actions</h3>
        <button mat-raised-button color="primary" (click)="goToPlanning()">
          <mat-icon>calendar_month</mat-icon>
            View my schedule
        </button>
        <button mat-raised-button color="primary" (click)="goToPlanning()">
          <mat-icon>groups</mat-icon>
            View my Teams
        </button>
        <button mat-raised-button color="primary" (click)="goToPlanning()">
          <mat-icon>calendar_month</mat-icon>
            View time logs
        </button>
      </div>
    </section>
  </main>
</div>
