<div class="planning-container">
  <header class="planning-header">
    <h2>
      <mat-icon fontSet="material-icons-outlined" fontIcon="calendar_month"></mat-icon>
      Planning of {{ userName || 'my team' }}
    </h2>

    <p *ngIf="isManager; else employeeMode" class="role-tag manager">Manager mode</p>
    <ng-template #employeeMode>
      <p class="role-tag employee">Employee mode</p>
    </ng-template>
  </header>

  <div class="filters">
    <mat-form-field appearance="fill" class="people-select">
      <mat-label>People to display</mat-label>
      <mat-select
        multiple
        [value]="selectedPeople"
        (selectionChange)="onSelectedPeopleChange($event.value)">
        <mat-option *ngFor="let member of team" [value]="member.name">
          {{ member.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div class="calendar-wrapper" *ngIf="!loading; else loadingTpl">
    <full-calendar [options]="calendarOptions"></full-calendar>
  </div>

  <ng-template #loadingTpl>
    <div class="loading">Loading planning...</div>
  </ng-template>
</div>

