<div class="dashboard-container">

  <!-- HEADER -->
  <header class="dashboard-header">
    <div class="header-left">
      <h1>Enterprise dashboard</h1>
    </div>
  </header>

  <!-- SUMMARY KPIs -->
  <section class="dashboard-summary">
    <div class="summary-card positive" (click)="selectKpi('attendance')" [class.active]="selectedKpi === 'attendance'">
      <div class="card-icon">💼</div>
      <div class="card-info">
        <div class="stats-row">
          <span class="value">{{ attendanceStats?.present || 0 }}</span>
        </div>
        <h3>Attendance</h3>
      </div>
    </div>

    <div class="summary-card negative" (click)="selectKpi('absenteeism')"
      [class.active]="selectedKpi === 'absenteeism'">
      <div class="card-icon icon-mixed">
        <mat-icon>person</mat-icon>
        <mat-icon class="not">do_not_disturb</mat-icon>
      </div>
      <div class="card-info">
        <div class="stats-row">
          <span class="value">{{ absenteeismStats?.totalAbsences || 0 }}</span>
        </div>
        <h3>Absenteeism</h3>
      </div>
    </div>

    <div class="summary-card positive" (click)="selectKpi('productivity')"
      [class.active]="selectedKpi === 'productivity'">
      <div class="card-icon">⚙️</div>
      <div class="card-info">
        <div class="stats-row">
          <span class="value">{{ productivityStats?.averageHours || 0 }} h</span>
        </div>
        <h3>Productivity</h3>
      </div>
    </div>
  </section>

  <!-- KPIs DÉTAILLÉS -->
  <section class="dashboard-board">
    <div class="navigation-tabs">
      <div class="left-nav">
        <button class="nav-btn" [class.active]="selectedKpi === 'absenteeism'" (click)="selectKpi('absenteeism')">
          Absenteeism
        </button>

        <button class="nav-btn" [class.active]="selectedKpi === 'attendance'" (click)="selectKpi('attendance')">
          Attendance
        </button>

        <button class="nav-btn" [class.active]="selectedKpi === 'productivity'" (click)="selectKpi('productivity')">
          Productivity
        </button>
      </div>

      <div class="right-nav">
        <div class="filter-container date-filter">
          <label for="dateFilter">Filter by :</label>
          <select id="dateFilter" [(ngModel)]="selectedPeriod">
            <option value="day">Day</option>
            <option value="week">Week</option>
            <option value="month">Month</option>
          </select>
        </div>
      </div>
    </div>

    <div class="first-row">

      <!-- CAMEMBERT KPI -->
      <div class="kpi-camenbert">
        <app-kpi-assiduite [data]="pieChartData.datasets[0].data" [selectedKpi]="selectedKpi"
          [labels]="pieChartData.labels">
        </app-kpi-assiduite>
      </div>

      <div class="second-element">

        <!-- =================== PODIUM ABSENCES =================== -->
        <div class="podium-card">

          <div class="podium-header">
            <h4>
              {{
              selectedKpi === 'absenteeism'
              ? 'Absenteeism percent'
              : selectedKpi === 'attendance'
              ? 'Attendance percent'
              : 'Productivity percent'
              }}
            </h4>

          </div>

          <ng-container [ngSwitch]="selectedKpi">

            <!-- Absenteeism List -->
            <ng-container *ngIf="selectedKpi === 'absenteeism'">
              <div *ngIf="topAbsences.length > 0; else noData">
                <div class="kpi-list">
                  <div class="kpi-item" *ngFor="let item of topAbsences">
                    <span class="item-name">{{ item.name }}</span>
                    <span class="item-value">{{ item.count }}</span>
                  </div>
                </div>
              </div>
            </ng-container>


            <!-- Attendance List -->
            <ng-container *ngIf="selectedKpi === 'attendance'">
              <div *ngIf="topAttendance.length > 0; else noData">
                <div class="kpi-list">
                  <div class="kpi-item" *ngFor="let item of topAttendance">
                    <span class="item-name">{{ item.name }}</span>
                    <span class="item-value">{{ item.count }}</span>
                  </div>
                </div>
              </div>
            </ng-container>

            <!-- Productivity List -->
            <ng-container *ngIf="selectedKpi === 'productivity'">
              <div *ngIf="topProductivity.length > 0; else noData">
                <div class="kpi-list">
                  <div class="kpi-item" *ngFor="let item of topProductivity">
                    <span class="item-name">{{ item.name }}</span>
                    <span class="item-value">{{ item.percent | number:'1.0-2' }} %</span>
                  </div>
                </div>
              </div>
            </ng-container>

            <!-- Default / no data -->
            <ng-template #noData>
              <p class="none">No data</p>
            </ng-template>

          </ng-container>
        </div>

        <!-- =================== PRODUCTIVITY TABLE =================== -->
        <div class="clock-card" *ngIf="selectedKpi == 'productivity'">
          <h3>Check-in times</h3>

          <table class="clock-table">
            <thead>
              <tr>
                <th>Name</th>
                <th>Team</th>
                <th *ngIf="selectedPeriod === 'day'">Clock-in</th>
                <th>Working time</th>
              </tr>
            </thead>

            <tbody>
              <tr *ngFor="let item of filteredUsers">
                <td>{{ item.nom }}</td>
                <td>{{ item.equipe }}</td>

                <!-- CLOCK-IN visible seulement si période = day -->
                <td *ngIf="selectedPeriod === 'day'">
                  <span class="clock-badge">
                    {{ getPointage(item.id) }}
                  </span>
                </td>

                <td>
                  <span class="worktime-badge">
                    {{ getTempsTravail(item.id) }}
                  </span>
                </td>
              </tr>
            </tbody>
          </table>

        </div>

        <!-- =================== ATTENDANCE / ABSENTEEISM LIST =================== -->
        <div class="presence-card" *ngIf="selectedKpi !== 'productivity'">
          <div class="presence-header">
            <h3>Team presence</h3>
          </div>

          <div class="filter-container">
            <label for="teamFilter">Filter by team : </label>
            <select id="teamFilter" [(ngModel)]="selectedTeam">
              <option value="">All teams</option>
              <option *ngFor="let team of teams" [value]="team">
                {{ team }}
              </option>
            </select>
          </div>

          <div class="stats" *ngIf="selectedPeriod === 'day'">
            <div class="stat-item">
              <span class="value">{{ presentCount }}</span>
              <span class="label">Presents</span>
            </div>
            <div class="stat-item">
              <span class="value red">{{ absentCount }}</span>
              <span class="label">Absents</span>
            </div>
            <div class="stat-item">
              <span class="value">{{ filteredUsers.length }}</span>
              <span class="label">Total</span>
            </div>
          </div>

          <table class="presence-table">
            <thead>
              <tr>
                <th>Name</th>
                <th>Team</th>
                <th>Status</th>
              </tr>
            </thead>

            <tbody>
              <tr *ngFor="let user of filteredUsers">
                <td>{{ user.nom }}</td>
                <td>{{ user.equipe }}</td>
                <td *ngIf="selectedPeriod === 'day'">
                  <span class="status-badge" [class.present]="getPresence(user.id)"
                    [class.absent]="getPresence(user.id) === false">
                    {{ getPresence(user.id) ? 'Present' : 'Late' }}
                  </span>
                </td>

                <td *ngIf="selectedPeriod !== 'day'">
                  <span class="status-badge">
                    {{ getPresenceCount(user.id).present }} / {{ getPresenceCount(user.id).total }}
                  </span>
                </td>

              </tr>
            </tbody>
          </table>

        </div>
      </div>
    </div>

    <!-- =================== COMPARATIF =================== -->
    <div class="second-row">
      <div class="kpi-comparatif">
        <app-kpi-comparatif [comparativeData]="getComparativeMonthlyData(selectedKpi)" [selectedKpi]="selectedKpi">
        </app-kpi-comparatif>
      </div>
    </div>

  </section>
</div>