<aside class="sidebar">
    <div class="brand-card">
        <div class="brand-card__label">TimeManager</div>
        <div class="brand-card__weather">
            <app-weather-badge variant="compact"></app-weather-badge>
        </div>
    </div>

    <nav class="menu">
        <!-- admin -->
         <button class="menu-btn" *ngIf="isAdmin()" [routerLink]="['/enterprise']" routerLinkActive="active">
            <mat-icon>admin_panel_settings</mat-icon>
            Admin dashboard
        </button>
        <button class="menu-btn" *ngIf="isAdmin()" [routerLink]="['/enterprise']" routerLinkActive="active">
            <mat-icon>group</mat-icon>
            Manager dashboard
        </button>
        <button class="menu-btn" *ngIf="isAdmin()" [routerLink]="['/teams']" routerLinkActive="active">
            <mat-icon>groups</mat-icon>
            Team management
        </button>
        <button class="menu-btn" *ngIf="isAdmin()" [routerLink]="['/logs']" routerLinkActive="active">
            <mat-icon>history</mat-icon>
            Logs
        </button>

        <!-- planning -->
        <button class="menu-btn" [routerLink]="['/planning']" routerLinkActive="active">
            <mat-icon>calendar_month</mat-icon>
            Calendar
        </button>
    </nav>

    <button class="logout-btn" (click)="logout()">
        <mat-icon>logout</mat-icon>
        Logout
    </button>
</aside>