<div class="dashboard">
  <!-- ===== Sidebar ===== -->
  <aside class="sidebar">
    <div class="logo">
      <img src="assets/logo.png" alt="Logo" />
    </div>

    <nav class="menu">
      <button class="menu-btn" (click)="goToDashboard()">
        <mat-icon>dashboard</mat-icon>
        Dashboard
      </button>

      <button class="menu-btn" (click)="goToPlanning()">
        <mat-icon>calendar_month</mat-icon>
        Calendar
      </button>

      <button class="menu-btn" (click)="goToLogHistory()">
        <mat-icon>history</mat-icon>
        Presence logs
      </button>

      <button class="menu-btn active">
        <mat-icon>groups</mat-icon>
        Teams
      </button>
    </nav>

    <button class="logout-btn" (click)="logout()">
      <mat-icon>logout</mat-icon>
      Disconnect
    </button>
  </aside>

  <!-- ===== Main Content ===== -->
  <main class="main-content">
    <!-- Header -->
    <header class="header">
      <h2>Team Management</h2>
    </header>

    <!-- Search bar-->
    <section class="search-section">
      <div class="search-container">
        <mat-icon>search</mat-icon>
        <input type="text" class="search-bar" placeholder="Rechercher une équipe..." />
      </div>

      <button class="search-btn" (click)="searchTeams()">
        <mat-icon>search</mat-icon>
        Search
      </button>
    </section>

    <!-- === TEAM Section === -->
    <section class="team-grid">
      <div class="team-card" *ngFor="let team of filteredTeams">
        <div class="team-header">
          <div class="team-avatar">
            {{ team.name.charAt(0).toUpperCase() }}
          </div>
          <div class="team-info">
            <h4>{{ team.name }}</h4>
            <span>{{ team.members.length }} membres</span>
          </div>
        </div>

        <div class="team-members">
          <div *ngIf="team.members.length === 0" class="no-members">
            No members
          </div>
          <div *ngFor="let member of team.members.slice(0, 5)" [title]="member.name" class="member-card">
            <img src="img/userProfil.png"  [alt]="member.name[0]" class= "member-avatar"/>
            <p>{{member.name}}</p>
          </div>
          <span *ngIf="team.members.length > 5" class="more-members">
            +{{ team.members.length - 5 }}
          </span>
        </div>

        <div class="team-actions">  
          <button (click)="openEditTeamModal(team)">
            <mat-icon>edit</mat-icon>
            Edit
          </button>
          <button (click)="openDeleteTeamModal(team)">
            <mat-icon>delete</mat-icon>
            Delete
          </button>
        </div>
      </div>
    </section>
  
    <button matButton="filled"  class="add-team-btn" (click)="showAddModal()">
      <mat-icon>add</mat-icon>
      Add a team
    </button>

    <div class="add-team-form" *ngIf="showAddTeamForm">
      <form action="">
        <label for="teamName">Name of the team</label>
        <input type="text" class="input-form" id="teamName" placeholder="Name of team" required
          value="{{teams[teamSelected].name}}" />
        <button type="submit" class="btn-submit">Edit</button>
      </form>
      <button class="close-btn" (click)="closeModal()">
        <mat-icon>close</mat-icon>
      </button>
    </div>

  </main>
</div>