.employee-detail {
    display: flex;
    justify-content: center;
    padding: 2rem;
    background-color: #1E1E28;
    color: #F9FAFB;
    min-height: 100vh;

    mat-card {
        background-color: #2A2A3C;
        width: 500px;
        text-align: center;

        h2 {
            color: #A78BFA;
            margin-bottom: 1rem;
        }

        button {
            margin-top: 1rem;
            background-color: #F472B6;
            color: #1E1E28;
        }
    }
}