spring:
  security:
    oauth2:
      client:
        registration:
          azure-dev:
            client-id: YOUR_CLIENT_ID
            client-secret: YOUR_SECRET
            scope:
              - openid
              - email
              - profile
            redirect-uri: "{baseUrl}/login/oauth2/code/{registrationId}"

        provider:
          azure-dev:
            issuer-uri: https://login.microsoftonline.com/YOUR_TENANT_ID/v2.0
