.dialog-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.members-section {
  margin-top: 1.5rem;
  width: 100%;
  padding: 5px;
  text-align: center;
}

.member-item {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 4px 0;
  width: 70%;
}

.add-member {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-top: 1rem;
}


.member-item{
  width: 100%;
  padding: 4px;
}

.w-full {
  width: 100%;
}
